@import "../../variables.scss";

.menu {
  background-color: rgba(230, 230, 230, 0.34);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
  bottom: 1%;
  left: 50%;
  box-shadow: inset 0px 0px 12.3px 10px rgba(143, 142, 142, 0.721),
    -1px 8px 16px rgba(0, 0, 0, 0.25);
}

.menu:hover{
    transform: scaleX(100px);
    transition: 1s;
}