@import "../../variables.scss";

.hdr {
  display: flex;
  justify-content: center;
  font-family: $font-family-secondary;
  // background: red;
  color: $second-page-color;
  width: max-content;
  height: min-content;
  //Se esconde hacia arriba cuando scrolleas
}

.hdr h1{
  padding: 0;
  margin: 10px;
}