@import "../../variables.scss";

.landpage{
    width: 100%;
    height: 100%;
    // background: red;
}

#landpage-h1{
    font-family: $font-family-secondary;
}

#landpage-p{
    font-family: $font-family-primary;
    font-size: $font-size-xl;
}