// FONTS

$font-size-base: 1rem; // 16px
$font-size-sm: 0.8rem; // 12.8px
$font-size-md: 1.25rem; // 20px
$font-size-lg: 1.563rem; // 25px
$font-size-xl: 1.953rem; // 31.25px
$font-size-xxl: 2.441rem; // 39.06px
$font-size-xxxl: 3.052rem; // 48.83px
$font-family-primary: "Work Sans", sans-serif;
$font-family-secondary: "Share Tech Mono", monospace;

// COLORS

$accents-page-color: rgba(118, 205, 123, 0.7);
$second-page-color: #262626;
$third-page-color: #e6e6e6;
$fourth-page-color: #bfbfbf;

$gradient-first-color: #000000;
$gradient-second-color: rgba(52, 90, 54, 0.8689);
$gradient-third-color: rgba(118, 205, 123, 0.7);
$gradient-fourth-color:rgba(118, 205, 123, 0.05);

// $bkg-gradient:;

$app-padding: 10px;
